<form method='post' action='/{{sandwich.id}}/edit'>
    <input type="text" placeholder="name" name="name" value="{{sandwich.name}}">
    <input type="text" placeholder="directions" name="directions" value="{{sandwich.directions}}">
    <input type="text" placeholder="imageurl" name="imageurl"value="{{sandwich.imageurl}}">
    <input type="number" placeholder="rating" name="rating"value="{{sandwich.rating}}">
    <button type="submit">Edit</button>
</form>
