<a href='/create'>Create Your Own Sandwich!</a>

<ul>
    {{#each sandwiches}}
    <li>
        {{this.name}} <br>
        {{this.directions}} <br>
        rating : {{this.rating}} <br>
        <img src="{{this.imageurl}}"/>
        <a href="/{{this.id}}">See More...</a>
    </li>
    {{/each}}
</ul>
